{% extends "base.html"%}

{% block title %}
  Welcome
{% endblock %}

{%block content%}

  <div class="container">
      <div class="bannerform">
          <div class="home-text">
            <h1>Let us help you make some great decisions.</h1>
            <br>
            <p>Welcome to a platform that allows you to find fairly priced homes. Our basic thesis is that if you know
              what others are paying in your area, you can get a better deal. Use us for local listings and to compare
              prices.
            </p>
      
            <div class="play-btn">
                <div class="play-btn-inner">
                    <i class="fa fa-play" ></i>
                </div>
                <small><b>LEARN MORE</b></small>
              </div>
          </div>
      
          <div class="home-picture">
            <img src="static/house1.jpg">
          </div>
        </div>
  
      
  </div>
   

{%endblock%}