
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Let's do it</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style type="text/css">
        body
        {
            background-color: black;
        }
        h1
        {
            color: white;
        }
        #mainHeader
        {
            text-align:center;
            background-color:black;
            color:white;
            padding:10px;
        }

        #mainFooter
        {
            text-align: center;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="introPage">
        <h1>Get Ready for the future.</h1>
        <br>
        <button onclick="window.location.href = 'home/';">Start now</button>
    </div>
</body>
</html>